.completed, .uncompleted{
    background-color: var(--light-purple);
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.completed {
    background-color: #5c4991;
    text-decoration: line-through;
}

.alone-task-imgs {
    display: flex;
    gap: 10px;
}

.alone-task-imgs img {
    cursor: pointer;
    width: 25px;
}